<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czy.shiyan4.mapper.FiletypeMapper">
  <resultMap id="BaseResultMap" type="com.czy.shiyan4.entity.Filetype">
    <id column="fileType_id" jdbcType="INTEGER" property="id" />
    <result column="fileType_file_type" jdbcType="VARCHAR" property="fileType" />
  </resultMap>
  <sql id="Base_Column_List">
    fileType.id as fileType_id, fileType.file_type as fileType_file_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fileType fileType
    where fileType.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByTypeName" resultType="com.czy.shiyan4.entity.Filetype">
    select * from fileType where file_type = #{fileType}
  </select>
    <select id="getTypeById" resultType="java.lang.String">
      select file_type from fileType where id = #{id}
    </select>
    <select id="getAll" resultType="com.czy.shiyan4.entity.Filetype">
      select * from fileType
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fileType
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.czy.shiyan4.entity.Filetype" useGeneratedKeys="true">
    insert into fileType (file_type)
    values (#{fileType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.czy.shiyan4.entity.Filetype" useGeneratedKeys="true">
    insert into fileType
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileType != null">
        file_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czy.shiyan4.entity.Filetype">
    update fileType
    <set>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czy.shiyan4.entity.Filetype">
    update fileType
    set file_type = #{fileType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>